{{define "footer"}}
<footer class="w3-content w3-container w3-theme-d5" style="max-width:2160px;">
  <div class="w3-half">
    <p>&copy; 2020 Leanne Waller</p>
    <!--<p>Website by Matthew Chipperfield</p>-->
  </div>
  <address class="w3-right-align w3-half">
    <p>www.leannesbowtique.com</p>
  </address>
</footer>
{{end}}
