{{define "header"}}
<div class="w3-bar w3-theme w3-large">
  <span class="w3-bar-item w3-padding-large">Leanne's Bowtique</span>
  <a class="w3-bar-item w3-button w3-padding-large w3-right w3-hide-medium w3-hide-large w3-hover-white" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars w3-margin-right"></i>Menu</a>
</div>
{{end}}
